@charset "utf-8";

/*
====================================================
  フォーマット
====================================================
*/
html,
body{
  height: 100%;
  margin: 0;
}
body{
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
h1,h2,h3,h4,h5,h6,li,th,td,dt,dd,label,input,p,a,span{
  font-weight: normal;
  color: #222;
  letter-spacing: 0.8px;
  line-height: 1.7;
}
ul{
  font-size: 0;
  margin: 0;
  padding-left: 0;
}
li{
  list-style-type: none;
}
li,th,td,dt,dd,label,input,p,a,span{
  font-size: 14px;
}
a{
  text-decoration: none;
  cursor: pointer;
  transition: .3s;
}
img{
  vertical-align: middle;
}
/*
====================================================
  フォント
====================================================
*/
body{
  font-family: 'Montserrat', 'Noto Sans Japanese', 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'MS pゴシック', 'MS PGothic', sans-serif;
}
/*
====================================================
  レスポンシブ
====================================================
*/
/*
.tab,
.sp{
  display: none;
}
*/
/*
====================================================
  共通コンテンツ
====================================================
*/
#wrapper{
  max-width: 414px;
  background: #fef8f6;
  margin: 0 auto;
  padding-bottom: 106px;
}
/* ===== コンテンツ ===== */
/*
.section{
  text-align: center;
  padding: 180px 0 0;
}
*/
.inner{
  padding: 0 15px;
}
/* ===== ボタン ===== */
.button a,
.submit-area input[type="submit"]{
  display: inline-block;
  width: 280px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background: #333;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  border: 1px solid #333;
  border-radius: 4px;
  padding: 20px 0;
  transition: .3s;
}
.button a:hover{
  background: #f15a24;
  border: 1px solid #f15a24;
}
.submit-area input[type="submit"]:hover{
  background: #f15a24;
  border: 1px solid #f15a24;
}
/* ===== 要素横並び（display: flex;） ===== */
.flex-contents{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-list{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/*
====================================================
  ヘッダー
====================================================
*/
#header{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
#logo h1{
  line-height: 1;
  margin: 0;
}
#logo img{
  width: 100px;
}
/*
====================================================
　ホーム
====================================================
*/
.home-title{
  margin-top: 25px;
}
.home-title p{
  font-weight: bold;
}
.home-list li{
  margin-top: 10px;
}
.home-list a{
  display: block;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 8px rgba(0, 0, 0, .1);
  border-radius: 8px;
  padding: 20px 20px 10px 20px;
}
.clerk-left{
  width: 50px;
}
.clerk-left img{
  width: 100%;
}
.clerk-right{
  margin-left: 20px;
}
.clerk-summary p.clerk-summary-name{
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 3px;
}
.clerk-summary p.clerk-summary-restaurant{
  font-size: 12px;
  margin: 0;
}
.clerk-point p{
  font-size: 28px;
  font-weight: bold;
  color: #f15a24;
  margin: 5px 0 0;
}
.clerk-point p span{
  font-weight: bold;
  margin-left: 5px;
}
/*
====================================================
　フッター
====================================================
*/
#footer{
  width: 100%;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, .15);
  position: fixed;
  bottom: 0;
  left: 0;
}
.footer-list li{
  width: 33.33333%;
  justify-content: center;
  align-items: center;
}
.footer-main{
  width: 72px;
  height: 72px;
  background: #f15a24;
  box-shadow: 0 0 18px rgba(0, 0, 0, .3);
  border-radius: 50px;
  position: absolute;
  bottom: 10px;
}
.footer-list li a{
  display: block;
  width: 100%;
  padding: 10px 0;
}
.footer-list li .footer-main a{
  height: 100%;
  padding: 0;
}
.footer-list li .footer-main .footer-main-inner{
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.footer-list li img{
  width: 26px;
}
.footer-list li .footer-main img{
  width: 30px;
}
.footer-list li p{
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  margin: 5px 0 0;
}
.footer-list li a.active p{
  color: #f15a24;
}
.footer-list li .footer-main p{
  color: #fff;
}
